
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Film</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table id="film" class="table table-striped table-bordered table-responsive table-hover" >
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: window.location.href + '/film/json', //api
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    var trHTML = '';
                    trHTML += '<tr><td>' + data.Year + '</td><td>' + data.Title + '</td></tr>';

                    $('#film').append(trHTML);

                }
            });
        });
    </script>

</body>
</html>
